body
{
	padding: 0px;
	margin: 0px;
	border: 0px;

	font-family: 'Quicksand', sans-serif;

	.header
	{	

		h1
		{
		font-size: 50px;
		text-align: center;
		text-transform: uppercase;
		}

		span
		{
			display: block;
			color: red;
			text-align: center;
			font-size: 50px
		}
	}

	.notFound
	{
		font-size: 16px;
		text-align: center;
		color: red;

		margin-top: 20px;
	}

	.search
	{
		margin-top: 80px;
		text-align: center;

		label
		{
			display: block;
		}
	}

	.dataLoading
	{
		opacity: 0.9;
		width: 300px;
		height: 200px;
		z-index: 1;
		margin: auto;
		margin-top: 30px;
		background-color: #cccccc;
		text-align: center;
		border: 1px solid black;
		border-radius: 20px;
		position: relative;

		img
		{
			width: 100px;
			height: 100px;
			position: absolute;
			top: 10px;
			left: 100px;
		}

		p
		{
			position: absolute;
			top: 130px;
			left: 100px;
		}
	}

	@media (max-width: 992px)
	{
		.dataLoading
		{
			margin-top: -100px;
		}

	}

	/* Directive Styles */

	.listItems
	{
		border: 1px solid black;
		border-radius: 4px;
		height: 180px;
		width: 100%;
		margin-top: 50px;
		margin-bottom: 10px;
		position: relative;

		p
		{
			padding: 25px 10px 1px 10px;

			font-weight: bold;
			font-size: 14px;

			span
			{
				font-weight: normal;
				font-style: italic;
				font-size: 12px;
			}
		}

		div
		{
			position: absolute;
			top: 0;
			right: 0;
			width: 80px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
			cursor: pointer;	
			transition: all 0.3s;

			font-size: 10px;
			text-align: center;
		}

		div:hover
		{
			background-color: #cccccc;
		}
	}
}
