<!DOCTYPE html>
<html ng-app="NarrowItDownApp">
<head>
	<title>Chinese Food</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/general.css">
	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="header">
					<h1>Chinese Food</h1>
					<span class="glyphicon glyphicon-fire"></span>
					<hr>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div ng-controller="NarrowItDownController as narrow">
				<div class="col-md-12">
					<div class="search">
						<label for="narrow-search">Narrow Down it For Me!</label>
						<input id="narrow-search" type="text" ng-model="narrow.search" placeholder="Search">
						<button ng-click="narrow.dataFilter(narrow.search)">Search</button>
					</div>
				</div>

				<found-items found="narrow.found" on-remove="narrow.remove(index)"></found-items>

				<div ng-if="!narrow.dataRetrieve">
					<div class="dataLoading">
						<img src="img/loading.gif">
						<p>Loading Data...</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>