body{
	margin: 0;
	padding: 0;
	bottom: 0;

	background-color: white;
}

.icon{
	font-size: 35px;
	color: black;
	margin-left: 20px;
}

h1{
	font-size: 50px;
	margin-bottom: 50px;
	text-align: center;


	color: #ff0000;
}

h2{
	font-size: 35px;
	margin-bottom: 20px;
	text-align: center;

	color: #666666;
}

hr {
    height: 1px;
    border-top: 1px solid #ccc;
}

p{
	text-align: center;
	font-size: 20px;

	color: #ff0000;
}

ul{
	margin-left: 0;
    padding-left: 0;
    text-align: center;
}

table{
	margin: auto;
}

tr
{
    line-height: 20px;
}

.quantity{
	color: #29bce5;
}

.list {
	border-radius: 2px;
	border: 1px solid #e5e5e5;
	width: 100%;
	height: 250px;

	background-color: #f2f2f2;
}

@media (max-width: 992px){
	.list{
		margin-bottom: 50px;
	}
}

button {
	margin-left: 20px;
	width: 80px;
	height: 25px;
	border-radius: 5px;
}